.flip-clock {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flip-clock .box {
  background: #d9d9d9;
  border-radius: 5px;
  min-width: 100px;
  padding: 5px 10px;
}

.box .count {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;

  color: #020202;
}

.box .text {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  color: #020202;
}

.flip-clock .colons {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;

  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .flip-clock {
    width: 60vw;
  }
  .flip-clock .box {
    background: #d9d9d9;
    border-radius: 5px;
    min-width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box .count {
    font-size: 15px;
  }
  .box .text {
    font-size: 10px;
  }
}
