@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Poppins:wght@300&display=swap");

.signup-container {
  position: relative;
  width: 100%;
  height: 87vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.signup-form-error {
  color: white;
  font-size: 0.7rem;
  text-align: left;
}

.signup-form-container {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  width: 40%;
  max-width: 500px;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {
  .signup-form-container {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.signup-form-container h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: left;
  font-family: "Fira Code", monospace;
}

.signup-form-container p {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  color: white;
  font-family: "Fira Code", monospace;
}

.signup-form-container input {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(121, 56, 178, 0.42);
  color: white;
  font-family: "Poppins", monospace;
}

.signup-form-container button {
  display: block;
  margin: 1.875rem 0;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(121, 56, 178, 0.42);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Fira Code", monospace;
}

@media (max-width: 768px) {
  .signup-form-container {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .signup-form-container {
    padding: 20px;
  }

  .signup-form-container h1 {
    font-size: 1.5rem;
  }

  .signup-form-container input {
    font-size: 1rem;
  }

  .signup-form-container button {
    font-size: 1rem;
  }

  .signup-form-container p {
    font-size: 1rem;
  }
}
