@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Lacquer&family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Lacquer&family=Nunito+Sans&display=swap");

.launch-schedule-container {
  position: relative;
}

.launch-schedule-container video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.launch-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
}

.launch-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(121, 56, 178, 0.42);
  color: white;
  margin-bottom: 20px;
  width: 100%;
  max-width: 900px;
  position: relative;
  border-radius: 5px;
}

.viewMore {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  flex-direction: row;
  width: 350px;
  height: 100px;
  color: white;
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-family: "Fira Code", monospace;
  font-size: 1.2rem;
  cursor: pointer;
}

.launch-card-info {
  padding: 20px;
}

.launch-card-info h2 {
  font-size: 2rem;
  font-family: "Fira Code", monospace;
}

.launch-card-info p,
.launch-card-info a {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Fira Code", monospace;
  text-decoration: none;
  color: white;
}

.launch-card-info .right p {
  cursor: pointer;
}

.launch-card-video {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.launch-card-video h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.launch-card-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.launch-card-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.launch-card-logo h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.launch-card-logo img {
  max-width: 100%;
  height: auto;
}

.launch-card-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.launch-card-gallery h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.launch-card-gallery img {
  max-width: 100%;
  height: auto;
}

.capture {
  height: 100px;
  width: 100px;
}

.detailStyle {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
}
.left {
  width: 80%;
}
.right {
  width: 20%;
  text-align: left;
}
.likes {
  display: none;
}

.comment-modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 800px;
  height: 500px;
}

.close-icon {
  position: absolute;
  color: white;
  top: 4rem;
  right: 20rem;
  cursor: pointer;
}

h2 {
  font-size: 2rem;
  font-family: "Fira Code", monospace;
  margin-right: 20px;
}

.comment-box {
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .launch-card {
    flex-direction: column;
    min-height: 400px;
  }
  .launch-card-info .likeBox {
    display: flex;
    flex-direction: row;
  }
  .detailStyle {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .right span {
    display: none;
  }
  .likes {
    display: inline-flex;
    align-items: center;
    font-size: 10px;
  }
  .modal-content {
    flex-direction: column;
    width: 90%;
    height: 90%;
  }

  h2 {
    margin-bottom: 20px;
  }

  .comment-box {
    margin-top: 20px;
  }
  .close-icon {
    top: 20px;
    right: 10px;
    color: black;
  }
}
