@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Lacquer&family=Nunito+Sans&display=swap");

.About {
  height: 90vh;
  position: relative;
}

.About-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.About-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10rem 5rem;
  width: 50%;
}

.About-text {
  font-weight: 700;
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1rem;
  text-align: left;
  font-family: "Fira Code", monospace;
}

.About-header {
  font-size: 3rem;
  font-family: poppins;
}

.extra-text {
  font-weight: 700;
  width: 80%;
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  font-family: "Fira Code", monospace;
}

.About-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.About-button-container {
  margin-right: 0;
  margin-bottom: 2rem;
}

.About-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.About-powered-by {
  padding-top: 2rem;
  color: #fff;
}

.About-powered-by img {
  height: 18px;
}

@media (max-width: 768px) {
  .over-container {
    flex-direction: column;
  }
  .About-container {
    top: 10%;
    width: 80%;
    padding: 1rem;
  }
  .About-text {
    font-size: 1rem;
  }
  .About-header {
    font-size: 2rem;
  }
  .extra-text {
    font-size: 0.8rem;
  }
  .About-button {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
  }
  .About-powered-by {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .About-container {
    top: 20%;
    width: 90%;
  }
  .About-text {
    font-size: 0.8rem;
  }
  .About-header {
    font-size: 2rem;
  }
  .extra-text {
    font-size: 0.8rem;
  }
  .About-button {
    width: 50px;
    height: 50px;
    font-size: 1rem;
  }
  .About-powered-by {
    font-size: 0.7rem;
  }
}
